# UNIFI ESG Scorer

## 1.Introduction

Environmental, Socila and Governance (ESG) Metrics are a recent development in Industry as a whole. From my understanding, it is meant to be a framework that provides a standardized way to measure and quantify the impact an organization's operational activities have on the earth and on human society. There are other frameworks used in quantifying ESG metrics or SDG metrics as they are sometimes refered.

## 2.Data Exploration

In [1]:
# Importing Dependancies

import pandas as pd
import numpy as np

### 2.1 Data Loading

In [22]:
am_syn_df = pd.read_csv('data/ActivityMetricsSynonyms.csv')
print('AMKey metric synonyms count:', len(am_syn_df))
am_syn_df.head()

AMKey metric synonyms count: 365

,AMKEY,Group,ActivityMetric,ClientMetric
0,7,Impala,Air emissions of the following pollutants: (2)...,Total indirect Nox
1,7,Sasol,Air emissions of the following pollutants: (2)...,Nitrogen oxides (NOx) (kilotons)
2,8,Sasol,Air emissions of the following pollutants: (3)...,Sulphur oxides (SOx ) (kilotons)
3,8,Ssw,Air emissions of the following pollutants: (3)...,SO2 emissions
4,8,Impala,Air emissions of the following pollutants: (3)...,Total direct SO2 + Total indirect SO2

In [20]:
amkey_goldstand_df = pd.read_csv('data/AMKEY_GoldenStandard.csv')
print('AMKEY Goldstandard entry count:', len(amkey_goldstand_df))
amkey_goldstand_df.head()

AMKEY Goldstandard entry count: 511

   AMKEY                                     ActivityMetric
0      3              Advisory fees as per income statement
1      6  Air emissions of the following pollutants: (1) CO
2      7  Air emissions of the following pollutants: (2)...
3      8  Air emissions of the following pollutants: (3)...
4      9  Air emissions of the following pollutants: (4)...

In [9]:
pdf_names_df = pd.read_csv('data/PDFnames.csv')
pdf_names_df

              ID                                          File Name
0    Oceana1.pdf        Oceana_Group_Sustainability_Report_2022.pdf
1        Ssw.pdf                                       ssw-IR22.pdf
2      Sasol.pdf       SASOL Sustainability Report 2023 20-09_0.pdf
3     Impala.pdf                                    ESG-spreads.pdf
4     Clicks.pdf              Clicks-Sustainability-Report-2022.pdf
5    Oceana2.pdf                     Oceana_ESG_Databook_FY2022.pdf
6       Uct2.pdf                                        afs2021.pdf
7   Picknpay.pdf               picknpay-esg-report-spreads-2023.pdf
8    Distell.pdf                      DISTELL ESG Appendix 2022.pdf
9       Uct1.pdf          UCT_Carbon_Footprint_Report_2020-2021.pdf
10      Absa.pdf  2022-Absa-Group-limited-Environmental-Social-a...
11   Tongaat.pdf                                        2021ESG.pdf

In [19]:
train_df = pd.read_csv('data/Train.csv', delimiter=',')
print('Train df entry_count:', len(train_df['ID']))
train_df.tail()

Train df entry_count: 5110

                 ID 2021_Value 2020_Value  2019_Value
5105  1052_X_Uct1&2        NaN        NaN         NaN
5106  1053_X_Uct1&2        NaN        NaN         NaN
5107  1054_X_Uct1&2        NaN        NaN         NaN
5108  1055_X_Uct1&2        NaN        NaN         NaN
5109  1070_X_Uct1&2        NaN        NaN         NaN