# UNIFI ESG Scorer

In [4]:
# Importations
import pandas as pd

In [6]:
import pandas as pd

am_syn_df = pd.read_csv('data/ActivityMetricsSynonyms.csv')

In [7]:
am_syn_df.head()

,AMKEY,Group,ActivityMetric,ClientMetric
0,7,Impala,Air emissions of the following pollutants: (2)...,Total indirect Nox
1,7,Sasol,Air emissions of the following pollutants: (2)...,Nitrogen oxides (NOx) (kilotons)
2,8,Sasol,Air emissions of the following pollutants: (3)...,Sulphur oxides (SOx ) (kilotons)
3,8,Ssw,Air emissions of the following pollutants: (3)...,SO2 emissions
4,8,Impala,Air emissions of the following pollutants: (3)...,Total direct SO2 + Total indirect SO2

In [9]:
pdf_names_df = pd.read_csv('data/PDFnames.csv')
pdf_names_df

              ID                                          File Name
0    Oceana1.pdf        Oceana_Group_Sustainability_Report_2022.pdf
1        Ssw.pdf                                       ssw-IR22.pdf
2      Sasol.pdf       SASOL Sustainability Report 2023 20-09_0.pdf
3     Impala.pdf                                    ESG-spreads.pdf
4     Clicks.pdf              Clicks-Sustainability-Report-2022.pdf
5    Oceana2.pdf                     Oceana_ESG_Databook_FY2022.pdf
6       Uct2.pdf                                        afs2021.pdf
7   Picknpay.pdf               picknpay-esg-report-spreads-2023.pdf
8    Distell.pdf                      DISTELL ESG Appendix 2022.pdf
9       Uct1.pdf          UCT_Carbon_Footprint_Report_2020-2021.pdf
10      Absa.pdf  2022-Absa-Group-limited-Environmental-Social-a...
11   Tongaat.pdf                                        2021ESG.pdf

Read all csv files in data/ and display head() results in separate cells